// Margins
$margin1: 48px;
$margin2: 36px;
$margin3: 24px;
$margin4: 12px;
$margin5: 6px;

// Colors
$highlight: #0455bf;
$light-grey-background: #ededed;
$lighter-grey-background: #fcfcfc;
$dark-grey-background: #f8f8f8;
$som-boxes: #ededed;
$greytext: #939393;
$border: #ececec;
$darkgrey: #727272;
